# NPM
node_modules

# AWS PEM Key
*.pem

# login bash script for EC2 instance
login.sh

utils/csv

get-pip.py

Dockerfile

cassandra.txt

allPhotos/

.env

db/postgresql/config.js

newrelic.js
newrelic_agent.log

testLoad.js
testStress.js